@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  background-color: #ffffff;
   font-family: 'Poppins', sans-serif;
}
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.content {
  border-radius: 5px 20px 5px 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 18%;
  padding: 12px;
  transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
}
.container:hover .content{
  height: 40%;
  background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
  color: black;
}
.popup-media{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.323);
}
.popup-media img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
  border: 3px solid #ffffff;
}

.popup-media span{
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
  color: wheat;
  user-select: none;
}

@keyframes slide-top{
  0% {
    -webkit-transform: translateY(100px);
    transform:  translateY(100px);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.rotate-x-180 {
  transform: rotateX(180deg);
}

@keyframes float {
  0% {
    transform: translateY(110vh) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(-120vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-float {
  animation-name: float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both; /* 👈 prevents flash at start */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 4s linear infinite;
}



.colorchange {
  margin-top: auto;
  animation: changeBg 10s linear infinite;
}

@keyframes changeBg {
  0%{
    color: rgb(245, 92, 92);
  }
  20%{
    color: rgb(240, 208, 139);
  }
  40%{
    color: rgb(82, 204, 66);
  }
  60%{
    color: rgb(63, 231, 217);
  }
  80%{
    color: rgb(93, 76, 248);
  }
  100%{
    color: rgb(206, 56, 243);
  }
}


